$primary-color: #07d5c2;
$secondary-color: white;
$primary-background-color: black;
$opacity-70: 0.7;

$header-height: 6.4rem;
$header-height-scroll: 6rem;
$search-height: 3.2rem;

$width-container: 120rem;
$width-container-mobile: 93%;
$width-container-tablet: 95%;
