$main-color: white;
$main-bg: black;
$secondary-color: #07d5c2;
$opacity-70: 0.7;

$header-height: 6.4rem;
$header-height-scroll: 6rem;

$width-container: 120rem;
$width-container-mobile: 93%;
$width-container-tablet: 95%;
