.banner {
    &__image {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;

        & img {
            height: 100%;
            width: 100%;

            @include max-1023() {
                object-fit: cover;
            }
        }
    }

    &__info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50rem;

        @include from-1024-1299() {
            width: $width-container-tablet;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        @include max-1023() {
            @include flex(center, unset);
            width: $width-container-mobile;
            transform: unset;
            top: unset;
            bottom: 3rem;
            left: 50%;
            transform: translateX(-50%);
            flex-direction: column;
            text-align: center;
        }

        &-title {
            color: $secondary-color;
            font-size: 4rem;
            font-weight: 500;
            padding-bottom: 1rem;
        }

        &-content {
            color: $secondary-color;
            font-size: 1.6rem;
            line-height: 1.5;
            padding-bottom: 2rem;
        }
    }

    &__btn {
        @include flex(center, unset);
        font-weight: 500;

        & .btn {
            &:first-of-type {
                margin-right: 1rem;
            }
        }
    }
}
