.header {
    width: 100%;
    height: $header-height;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: height 0.2s linear;

    &__container {
        @include flex(center, space-between);
        height: $header-height;
        width: $width-container;
        margin: 0 auto;
    }

    &__left {
        @include flex(center, unset);
    }

    &__right {
        color: $main-color;

        & i {
            font-size: 1.8rem;
            margin-left: 2rem;
            cursor: pointer;
        }
    }

    &__nav {
        display: flex;
        margin-left: 3rem;

        &-list {
            margin-right: 2rem;
        }

        &-link {
            font-size: 1.4rem;
            color: $main-color;
            font-weight: 500;
            transition: color linear 0.15s;

            &:hover {
                color: $secondary-color;
            }

            &--relative {
                position: relative;

                & span {
                    @include flex(center, center);
                    position: absolute;
                    top: -10px;
                    background-color: #d53737;
                    border-radius: 50%;
                    z-index: 111111111111;
                    color: white;
                    right: -26px;
                    filter: drop-shadow(2px 3px 6px black);
                    width: 23px;
                    height: 23px;
                    font-size: 1.3rem;
                }
            }
        }
    }

    &--scroll {
        background-color: $main-bg;
        height: $header-height-scroll;
    }

    &--active {
        color: $main-color;
        opacity: 1;
    }
}
