.movie-series {
    &__group {
        @include flex(center, center);
        padding: 0.5rem 1rem;
        background-color: #282828;
    }

    &__title {
        font-size: 1.5rem;
        width: 7rem;
        flex-shrink: 0;
    }

    &__list-series {
        display: flex;
        flex-wrap: wrap;
    }

    &__btn {
        @include flex(center, unset);
        height: 3.2rem;
        background-color: #464545;
        margin: 1rem 0 1rem 1rem;
        padding: 0 1rem;
        font-size: 1.4rem;
        border-radius: 4px;
        color: #ffffffe8;

        &:hover {
            background-color: #099184;
            color: $main-color;
        }
    }
}
