.not-found {
    @include flex(center, space-around);
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-background-color;
    z-index: 1;
    color: white;

    &__group {
        @include flex(center, unset);
        flex-direction: column;
    }

    &__404 {
        font-size: 10rem;
        letter-spacing: 1rem;
        padding-bottom: 2rem;
        background-clip: text;
        background: -webkit-linear-gradient(white, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & p {
        font-size: 3rem;
    }

    & h1 {
        font-size: 2.2rem;
        font-weight: 300;
        padding-top: 3rem;
    }

    &__btn {
        height: 4.5rem;
        border-radius: 30px;
        padding: 0 3rem;

        &-title {
            font-size: 1.6rem;
        }
    }
}
