.btn {
  @include flex(center, center);
  padding: 0 2rem;
  height: 3.8rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid #7a7575e3;
  cursor: pointer;
  background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
  background-size: 200% auto;
  transition: 0.3s;
  color: #25ffeb;
  font-size: 1.4rem;

  &:hover {
    border: 1px solid $primary-color;
    background-position: right center;
    color: $secondary-color;

    @include max-1023() {
      border: 1px solid rgba(122, 117, 117, 0.8901960784);
      color: #25ffeb;
      background-position: unset;
    }
  }

  i {
    font-size: 2rem;
    padding-right: 0.5rem;
  }
}
